<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlite:D:/Универ/Курсач6сем/untitled3/database.db</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping resource="com.model/User.hbm.xml" />
        <mapping resource="com.model/User_data.hbm.xml" />
        <mapping resource="com.model/Diary.hbm.xml" />
        <mapping resource="com.model/Food.hbm.xml" />
        <mapping resource="com.model/Statistic.hbm.xml" />
    </session-factory>
</hibernate-configuration>